<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,800&display=swap"
        rel="stylesheet">
    <title>About Us</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center; color: #90775d; font-size: 50px;">About</h1>
    <h2 style="text-align: center;">Def Hacks 2020</h3>
    <br>
    <h3 style="text-align: start;">COVID-19 Supply Chain Tracker and Distributation for Medical Resources</h3>
</body>

</html>